@model Project.Web.Areas.AreaIndex.Models.GrupoViewModelEdicao
@{
    ViewBag.Title = "Grupo";
}
<!--Para que a validação do MVC funcione, foi necessário colocar a referência deste script-->
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    function OnFailure(result) {
        //adicionar mensagem igual a da edição..
        alert("Erro:" + result.msg);
    }

    function OnSuccess(result) {

        //Como o modal é renderizado dentro da página de ConsultaFiltro.cshntm,
        // pode-se pegar o handle da tabela que já está criada no ConsultaFiltro...
        // e aplicar a atualização da table..
        var tabela = $('#tblGrupos').DataTable();
        tabela.ajax.reload();

        $("#spMensagemEdicao").html(result.msg);
        $("#dvAlertEdicao").show();

    }
</script>

<div class="modal-dialog">
    <div class="modal-content">
        @using (Ajax.BeginForm("Editar", "Grupo", new AjaxOptions()
        {
            HttpMethod = "POST",
            OnSuccess = "OnSuccess",
            OnFailure = "OnFailure"
        }))
        {
            <div class="modal-header">
                <h5 class="modal-title">Editar Grupo</h5>

                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>

            </div>
            <div class="modal-body">
                <div id="dvAlertEdicao" class="alert alert-primary" style="display:none">
                    <span id="spMensagemEdicao"></span>
                </div>
                @Html.ValidationSummary(true)

                <div class="row">

                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group mb-1 col-12">
                        @Html.LabelFor(model => model.Id_Grupo)
                        @Html.DropDownListFor(model => model.Id_Grupo, (SelectList)ViewBag.ListaGrupos, "--Nenhum--", new { @class = "form-control" })
                    </div>
                    <div class="form-group mb-1 col-12">
                        @Html.LabelFor(model => model.Descricao)
                        @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control", @placehoder = "Informe a descrição" })
                        <span style="color:red">
                            @Html.ValidationMessageFor(model => model.Descricao)
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Salvar" class="btn btn-outline-dark" />
                <input type="button" value="Cancelar" class="btn btn-outline-dark" data-dismiss="modal" />
            </div>
        }
    </div>
</div>