
@using PagedList.Mvc
@model Project.Web.Areas.AreaIndex.Models.PerfilMenuViewModelInclusao
@{
    Layout = "~/Views/_modalCrud-LG.cshtml";
}

@using (Html.BeginForm("Inclusao", "Perfil", FormMethod.Post))
{
    <div class="modal-body">

        @Html.ValidationSummary(true)

        @Html.LabelFor(model => model.NomePerfil)
        @Html.TextBoxFor(model => model.NomePerfil, new { @class = "form-control", @placehoder = "Informe um novo Perfil" })
        <span style="color:red">
            @Html.ValidationMessageFor(model => model.NomePerfil)
        </span>
        <br />

        <table id="tabela" class="display" style="width:100%">
            <thead>
                <tr>
                    <th style="display:none">Id</th>
                    <th style="display:none">IdMenu</th>
                    <th>Item de Menu</th>
                    <th style="text-align:center">Selecionar</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.Menus.Count(); i++)
                {
                    <tr>
                        <td style="display:none">
                            @Html.HiddenFor(model => model.Menus[i].Id)
                        </td>
                        <td style="display:none">
                            @Html.HiddenFor(model => model.Menus[i].IdMenu)
                        </td>
                        <td>@Html.DisplayFor(model => model.Menus[i].Descricao)</td>
                        <td style="text-align:center">@Html.CheckBoxFor(model => model.Menus[i].Selecionado)</td>
                    </tr>
                }
            </tbody>
        </table>

        Página @Model.Menus.PageNumber de @Model.Menus.PageCount

        @Html.PagedListPager(Model.Menus, pagina=> Url.Action("InclusaoPagedList", new { pagina }) )

    </div>
    <div class="modal-footer">
        <input id="btnSalvar" type="submit" value="Salvar" class="btn btn-outline-dark" />
        <input type="button" value="Cancelar" class="btn btn-outline-dark" data-dismiss="modal" />
    </div>
}