@model Project.Web.Areas.AreaIndex.Models.PerfilViewModelInclusao
@{
    Layout = "~/Views/_modalCrud-Lg.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#tabela").DataTable({
            "bLengthChange": false, /*tornar invisível combo para visualizar a quantidade de registros */
            "bFilter": false, /*tornar invisível o campo de busca do resultado da tabela */
            "order": [[2, "asc"]],
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [1],
                    "visible": false,
                    "searchable": false,
                    "orderable": false
                }]
        });

        $("#btnSalvar").click(function () {

            console.log('teste');

            $("#tabela tr ").each(function (e, i) {
                console.log($(e));
            });
            var model = {
                Descricao: $("#Descricao").val()
            }
            $.ajax({
                type: "POST",
                url: "/Perfil/Incluir",
                data: model,
                success: function (result) {
                    PopulaPerfil();
                },
                error: function (e) {
                    exibirAlert("Erro: " + e.status);
                }
            });
        });
    });
</script>

<div class="form-group">
    @Html.LabelFor(model => model.Descricao)

    @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control", @placehoder = "Informe um novo Perfil" })
    <span style="color:red">
        @Html.ValidationMessageFor(model => model.Descricao)
    </span>
    <br />
    <table id="tabela" class="display" style="width:100%" data-page-length='5'>
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">IdMenu</th>
                <th scope="col">Item de Menu</th>
                <th scope="col" style="text-align:center">Selecionar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Menus)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Id)</td>
                    <td>@Html.DisplayFor(m => item.IdMenu)</td>
                    <td>@Html.DisplayFor(m => item.Nome)</td>
                    <td style="text-align:center">@Html.CheckBoxFor(m => item.Checked, new { @class = "check", @id = "chk_" + item.Id })</td>
                </tr>
            }
        </tbody>
    </table>
</div>