@model Project.Web.Areas.AreaIndex.Models.UsuarioViewModelInclusao
@{
    ViewBag.Title = "Usuário";
}
<!--Para que a validação do MVC funcione, foi necessário colocar a referência deste script-->
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    function OnFailure(result) {
        //adicionar mensagem igual a da edição..
        alert("Erro:" + result.msg);
    }

    function OnSuccess(result) {

        //Como o modal é renderizado dentro da página de ConsultaFiltro.cshntm,
        // pode-se pegar o handle da tabela que já está criada no ConsultaFiltro...
        // e aplicar a atualização da table..
        var tabela = $('#tabela').DataTable();
        tabela.ajax.reload();

        $("#mensagemInclusao").html(result.msg);
        $("#alertInclusao").show();

    }
</script>

<div class="modal-dialog">
    <div class="modal-content">
        @using (Ajax.BeginForm("Incluir", "Usuario", new AjaxOptions()
        {
            HttpMethod = "POST",
            OnFailure = "OnFailure",
            OnSuccess = "OnSuccess"
        })
               )
        {
            <div class="modal-header">
                <h5 class="modal-title">Incluir Usuário</h5>

                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>

            </div>
            <div class="modal-body">


                <div id="alertInclusao" class="alert alert-primary" style="display:none">
                    <span id="mensagemInclusao"></span>
                </div>


                @Html.ValidationSummary(true)


                <div class="row">
                    <div class="form-group mb-1 col-12">
                        @Html.LabelFor(model => model.Id_Usuario)

                        @Html.TextBoxFor(model => model.Id_Usuario, new { @class = "form-control", @placehoder = "Informe a chave" })
                        <span style="color:red">
                            @Html.ValidationMessageFor(model => model.Id_Usuario)
                        </span>

                    </div>

                    <div class="form-group mb-1 col-12">
                        @Html.LabelFor(model => model.Nome)

                        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", @placehoder = "Informe o nome" })
                        <span style="color:red">
                            @Html.ValidationMessageFor(model => model.Nome)
                        </span>

                    </div>

                    <div class="form-group mb-1 col-12">
                        @Html.LabelFor(model => model.Id_Perfil)

                        @Html.DropDownListFor(model => model.Id_Perfil, (SelectList)ViewBag.ListaPerfis, "--Selecione--", new { @class = "form-control " })
                        <span style="color:red">
                            @Html.ValidationMessageFor(model => model.Id_Perfil)
                        </span>

                    </div>

                    @*<div class="form-group mb-1 col-6">
                            @Html.LabelFor(model => model.Senha)

                            @Html.PasswordFor(model => model.Senha, new { @class = "form-control", @placehoder = "Informe a senha" })
                            <span style="color:red">
                                @Html.ValidationMessageFor(model => model.Senha)
                            </span>

                        </div>

                        <div class="form-group mb-1 col-6">
                            @Html.LabelFor(model => model.ConfirmaSenha)

                            @Html.PasswordFor(model => model.ConfirmaSenha, new { @class = "form-control", @placehoder = "Confirme a senha" })
                            <span style="color:red">
                                @Html.ValidationMessageFor(model => model.ConfirmaSenha)
                            </span>

                        </div>*@
                </div>

            </div>
            <div class="modal-footer">
                <input type="submit" value="Salvar" class="btn btn-outline-dark" />
                <input type="button" value="Cancelar" class="btn btn-outline-dark" data-dismiss="modal" />
            </div>

        }

    </div>
</div>