@model Project.Web.Areas.AreaIndex.Models.PermissoesViewModelFiltro
@using Project.Entity

@{
    ViewBag.Title = "Consulta Permissões";
    Layout = "~/Views/_layout.cshtml";
}

<h5>Consulta de Usuários</h5>
<hr />
@using (Ajax.BeginForm("Listar", "Permissoes",
        new AjaxOptions
        {
            UpdateTargetId = "TabelaUsuarios", // <-- ID do elemento DOM a atualizar
InsertionMode = InsertionMode.Replace, // <-- Substituir o conteúdo do elemento DOM
HttpMethod = "POST"
        }))
{
    <div class="row">
        <div class="col-4">
            @Html.LabelFor(model => model.Busca)
            @Html.TextBoxFor(model => model.Busca, new { @class = "form-control", @placehoder = "Informe o login ou nome" })
        </div>
        <div class="col-3">
            @Html.LabelFor(model => model.IdPerfil)
            @Html.DropDownListFor(model => model.IdPerfil, (SelectList)ViewBag.ListaPerfis, new { @class = "form-control " })
        </div>
        <div class="col-3">
            @Html.LabelFor(model => model.IdStatus)
            @Html.DropDownListFor(model => model.IdStatus, (SelectList)ViewBag.ListaStatus, new { @class = "form-control " })
        </div>
        <div class="col-2 text-right mt-4">
            <button id="btnBusca" type="submit" class="btn btn-outline-dark">
                <i class="fa fa-search"></i> Pesquisar
            </button>
        </div>
    </div>

}
    <div id="TabelaUsuarios" class="row mt-5">
        @{Html.RenderAction("Listar");}
    </div>